.section {
    background-color: var(--dark);
}

.content {
    margin: auto;
    padding: 128px 0;
    max-width: 1056px;
}

.quote {
    width: 948px;
    margin-top: 68px;
    font-size: 2.4rem;
    line-height: 1.67;
    color: var(--gray-light);
}

.author {
    margin-top: 96px;
    font-size: 2.4rem;
    line-height: 1.21;
    color: var(--gray-dark);
}